.back{
    background: #d0d0d0;
    border: 3px dashed #f0f0f0;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0;
    padding: 75px 5px;
    outline: none;
    display: inline-block;

}

.back:hover{
    border: 3px dashed #aaaaaa
}